<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>

</head>
<body>
	<div th:fragment="headcopy">
		<div class="head">
			<link href="/static/css/public.css"
				th:href="@{/static/css/public.css}" rel="stylesheet" />
			<link href="/static/css/main.css" th:href="@{/static/css/main.css}"
				rel="stylesheet" />
			<link rel="stylesheet" id='skin' type="text/css"
				th:href="@{/static/alertframe/skin/simple_gray/ymPrompt.css}"
				href="/static/alertframe/skin/simple_gray/ymPrompt.css" />
			<link id='theme' rel='stylesheet'
				href='/static/humane/themes/original.css'
				th:href="@{/static/humane/themes/original.css}" />
			<!-- jQuery -->
			<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"
				th:src="@{/static/js/jquery-1.7.2.min.js}"></script>
			<script type="text/javascript" src="/static/alertframe/ymPrompt.js"
				th:src="@{/static/alertframe/ymPrompt.js}"></script>
			<script type="text/javascript" src="/static/humane/humane.js"
				th:src="@{/static/humane/humane.js}"></script>
			<script type="text/javascript" src="/static/js/public.js"
				th:src="@{/static/js/public.js}"></script>
			<script type="text/javascript" src="/static/js/main.js"
				charset="UTF-8" th:src="@{/static/js/main.js}"></script>

			<ul>
				<li><h2>
						<!--  <img src="/imgs/logo.png" width="130px"/> -->
					</h2></li>
				<li class="headfunc">
					<ul>
						<li>欢迎您：<span th:text="${session.currentUser.userName}"></span>
							<a class="modifypwd" id="modifypwdbtna"> 修改密码</a> <a
							href="/exit.action" th:href="@{/exit.action}">退出</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>




		<tr th:unless="${#lists.isEmpty(funcList)}">
			<td th:each="fun : ${funcList}" th:text="${fun.functionName}"></td>
		</tr>
		<div id="menu">
			<ul th:unless="${#lists.isEmpty(roleFunctions)}">
				<span th:each="role,roleStat:${roleFunctions}">
					<li class="m_line"><img src="/static/imgs/line1.gif"
						th:src="@{/static/imgs/line1.gif}" /></li>
					<li th:if="${roleStat.index eq 0}" th:id="'m_'+(${roleStat.index}+1)"
					class="m_li_a" th:onmouseover="'mover('+(${roleStat.index}+1)+')'">
						<a th:href="${role.mainFunction.funcUrl}"
						th:text="${role.mainFunction.functionName}"></a>
				</li>

					<li th:if="${roleStat.index != 0}" th:id="'m_'+(${roleStat.index}+1)"
					class="m_li" th:onmouseover="'mover('+(${roleStat.index}+1)+')'">
						<a th:href="${role.mainFunction.funcUrl}"
						th:text="${role.mainFunction.functionName}"></a>
				</li>
				</span>

			</ul>

		</div>

		<div class="subbox">
			<ul class="smenu" th:unless="${#lists.isEmpty(roleFunctions)}">
				<span th:each="role,roleStat:${roleFunctions}">
				<!-- <span th:text="${not #lists.isEmpty(role.subFunctions)}"></span> -->
					<span
					th:if="${not #lists.isEmpty(role.subFunctions)} and ${#lists.size(role.subFunctions) >0}">
					
						<li th:if="${roleStat.index eq 0}" style="padding-left: 10px;" id="s_1" class='s_li_a'>
						<a th:each="sub:${role.subFunctions}"
							th:href="${sub.funcUrl}" th:text="${sub.functionName}"></a>
						</li>

						<li th:if="${roleStat.index eq 1}" style="padding-left: 131px;"
						id="s_2" class='s_li' onmouseover='mover(2);'><a
							th:each="sub:${role.subFunctions}" th:href="${sub.funcUrl}"
							th:text="${sub.functionName}"></a>
						</li>

						 <li th:if="${roleStat.index eq 2}" style="padding-left: 243px;"
						id="s_3" class='s_li' onmouseover='mover(3);'><a
							th:each="sub:${role.subFunctions}" th:href="${sub.funcUrl}"
							th:text="${sub.functionName}"></a></li>

						<li th:if="${roleStat.index eq 3}" style="padding-left: 140px;"
						id="s_4" class='s_li' onmouseover='mover(4);'><a
							th:each="sub:${role.subFunctions}" th:href="${sub.funcUrl}"
							th:text="${sub.functionName}"></a></li>

						<li th:if="${roleStat.index eq 4}" style="padding-left: 220px;"
						id="s_5" class='s_li' onmouseover='mover(5);'><a
							th:each="sub:${role.subFunctions}" th:href="${sub.funcUrl}"
							th:text="${sub.functionName}"></a></li>

				</span> <span
					th:unless="${not #lists.isEmpty(role.subFunctions)} and ${#lists.size(role.subFunctions) >0}"
					th:switch="${roleStat.index}">

						 <li th:case="0" style="padding-left: 10px;" id="s_1"
						class='s_li_a'><a th:case="*" th:href="@{/main.action}"
							title="无权限">无权限</a></li>
						<li th:case="1" style="padding-left: 131px;" id="s_2" class='s_li'
						onmouseover='mover(2);'><a th:case="*"
							th:href="@{/main.action}" title="无权限">无权限</a></li>
						<li th:case="2" style="padding-left: 243px;" id="s_3" class='s_li'
						onmouseover='mover(3);'><a th:case="*"
							th:href="@{/main.action}" title="无权限">无权限</a></li>
						<li th:case="3" style="padding-left: 360px;" id="s_4" class='s_li'
						onmouseover='mover(4);'><a th:case="*"
							th:href="@{/main.action}" title="无权限">无权限</a></li>
						<li th:case="4" style="padding-left: 460px;" id="s_5" class='s_li'
						onmouseover='mover(5);'><a th:case="*"
							th:href="@{/main.action}" title="无权限">无权限</a>
							
						</li> 
				</span> <!-- </s:iterator>	 -->
				</span>
			</ul>
		</div>
<div id="modifydiv" class="modifydiv">
			<div class='modifTop'></div>
			<div class="modifyPasswordContent">
			<ul>
			<li>请输入原密码：<input type="password" id="oldpwdtext"/> <span id="oldpwdtip">您本次登录时的密码</span></li>
			<li>请输入新密码：<input type="password" id="newpwd"/> <span id="newpwdtip">新密码不少于6个字符</span></li>
			<li>请确认新密码：<input type="password" id="newpwd2"/> <span id="newpwdtip1">新密码不少于6个字符</span></li>
			<li class="btnli">
			<input id="modifypwdbtn" type="button" value="确认修改密码"/> 
			<input id="modifypwconcledbtn" type="button" value="取消"/> 
			</li>
			</ul>
			</div>
	</div>


	</div>
</body>
</html>