<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<div align="center">
		<h1 align="center">用户列表</h1>
		<a th:href="@{/addUserhtml}">新增用户</a>
		<table>
			<thead>
				<tr>
					<th>用户编号</th>
					<th>用户姓名</th>
					<th>用户邮箱</th>
					<th>用户地址</th>
					<th>操作</th>
				</tr>
			</thead>
			
			<tbody th:unless="${#lists.isEmpty(userList)}">
				<tr th:each="user : ${userList}">
					<td th:text="${user.userCode}">usercode</td>
					<td th:text="${user.userName}">userName</td>
					<td th:text="${user.mail}">mail</td>
					<td th:text="${user.addr}">addr</td>
					<td><a th:href="@{'deleteUser/'+${user.userId}}">删除</a>  <a th:href="@{'findUserById/'+${user.userId}}">修改</a></td>
				</tr>
			</tbody>
		</table>
		

	</div>
	<h1 th:text="${session.aaa}"></h1>

</body>
</html>