<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper  namespace="com.bdqn.agentSystem.domain.UserMapper">
    <select id="login" resultType="user" parameterType="user">
		select * from as_user where userCode = #{userCode} and userPassword = #{userPassword}
	</select>
	
	<select id="isExitLoginUser" resultType="int" parameterType="user">
		select count(*) from as_user where userCode = #{userCode}
	</select>
	
	<update id ="modifyUser" parameterType="user">
		 update as_user
			 <set>
				 <if test="userCode != null"> userCode = #{userCode},</if>
				 <if test="userName != null"> userName = #{userName},</if>
				 <if test="userPassword != null"> userPassword = #{userPassword},</if>
				 <if test="creationTime != null"> creationTime = #{creationTime},</if>
				 <if test="lastLoginTime != null"> lastLoginTime = #{lastLoginTime},</if>
				 <if test="createdBy != null"> createdBy = #{createdBy},</if>
				 <if test="lastUpdateTime != null"> lastUpdateTime = #{lastUpdateTime},</if>
				 <if test="isStart != null"> isStart = #{isStart},</if>
			 	 <if test="roleId != null"> roleId = #{roleId}</if>
		     </set>
		  	where id = #{id}
	</update>
</mapper>
