<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8"></meta>
<title>updateUser</title>
</head>
<body>
<div align="center">
  <form action="/updateUserAction" th:object="${user}" 
  th:action="@{/updateUserAction}" method="post">
  <input type="hidden" th:field="*{userId}">
    <p>用户编号：<input type="text" th:field="*{userCode}"/></p>
    <p>用户姓名：<input type="text" th:field="*{userName}"/></p>
    <p>用户密码：<input type="text" th:field="*{userPwd}"/></p>
    <p>用户邮箱：<input type="text" th:field="*{mail}"/></p>
    <p>用户地址：<input type="text" th:field="*{addr}"/></p>
    <input type="submit" value="修改用户"/>
  </form>
  </div>
</body>
</html>